.logout-button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 11pt;
  background-color: #3c3c3c;
  color: white;
  border-color: #3c3c3c;
  height: 35px;
  width: 80px;
}

.nav-link, .dropdown-item {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13pt;
  color: #3c3c3c !important;
}