
.registration-form {
  background-color: white;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ced4da;
  border-radius: 5px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 17pt;
  font-weight: 300;
  color: #3c3c3c;
  align-content: center;
}

.mb-3 [type=date] {
  max-width: 85%;
  height: 46px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #3c3c3c;
}

.reg-form-text1 {
  font-family: 'Oswald', sans-serif;
  font-size: 13pt;
  font-weight: 300;
  color: #3c3c3c;
  margin: 0 auto;
  padding: 5px;
}