.profile-view_wrapper {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.profile-view_headers {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3c3c3c;
    text-transform: uppercase;
}

.profile-form {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #3c3c3c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt !important;
  font-weight: 200;
  padding: 20px;
}

.form-label {
  text-align: right;
  margin-bottom: 0 !important;
}

.profile-form_label {
  text-align: right;
  padding: .375rem 0;
}

.form-control-plaintext {
  color: #3c3c3c !important;
}

.profile-form_buttons {
  padding: 20px 0px 10px 0px;
}

.profile-view_movie-card {
  height: 250px; 
}

.form-validation-error {
  font-family: 'Oswald', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  color: red;
}