.d-flex {
  flex-direction: column;
  text-align: left;
}

.movie-view_image {
  width: 70%;
  max-height: 550px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.movie-view_title {
  font-size: 32pt;
  font-family: 'Anton', sans-serif;
}

.movie-view_description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 12pt;
  font-style: italic;
}

.movie-view_label {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 8pt;
}

.movie-view_text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11pt;
}

.movie-view_button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 11pt;
  background-color: #3c3c3c;
  color: white;
  border-color: #3c3c3c;
  height: 30px;
  width: 50px;
}

.movie-view_button:hover {
  opacity: 70%;
}