body {
  background-color: #eeede9;
}

.app-container {
  padding: 50px;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #eeede9;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 42pt;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: #3c3c3c;
}

.cinemapi_title-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 42pt;
  text-decoration: none !important;
}

.cinemapi_title-thick {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 42pt;
}

.btn {
  font-family: 'Oswald', sans-serif;
  min-width: 150px;
  font-size: 14pt !important;
  height: 45px;
  margin: 5px;
}

.btn.btn-primary {
  background-color:#718C6a;
  color: white;
  border-color: #3c3c3c;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color:#718C6a;
  opacity: 80%;
  color: white;
  border-color: #3c3c3c;
}

.btn.btn-secondary {
  background-color: #3c3c3c;
  color: white;
  border-color: #3c3c3c;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:focus {
  background-color: #3c3c3c;
  opacity: 70%;
  color: white;
  border-color: #3c3c3c;
}

a {
  text-decoration: none !important;
}